.Comment {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 1px 1px 8px;
}

.Author {
  text-align: start;
  font-size: 1.4rem;
}

.Date {
  color: #8c8c8c;
  text-align: end;
  margin-top: 0.5rem;
}

.Content {
  text-align: start;
  margin-top: 0.5rem;
}
