@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Button {
  width: 50%;
  transition: 0.2s ease-in-out 0s;
}

.Button:hover {
  transform: scale(1.005);
  box-shadow: 4px 4px 0px 0px #d2d2f9;
}

.CommentsButtonContainer {
  cursor: pointer;
  margin-top: 1rem;
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}
